/*=======================================================================

	Item Name 		|		Symp - Responsive One Page VCard/Resume Template

	Author Name		|		JAY BHARADIA

-------------------------------------------------------------------------
	CSS Structure
-------------------------------------------------------------------------

	01- General CSS
	02- Preloader
		- Transition
	03- Front Section
	04- About Section
	05- Resume Section
	06- Services Section
	07- Blog Section
	08- Portfolio Section
	09- Contact Section
	10- Work Page
	11- Single Post Page
	12- Responsive CSS

	*Colors are in separate files.

=======================================================================*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,600,300|Playfair+Display:700italic,400italic|Crimson+Text:400italic,600italic|Open+Sans:400,700);

*{
	margin:0;
	padding:0;
	outline:none;
	font-family: 'Open Sans, sans-serif';
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
	font-weight:bold;
	font-family: Raleway, sans-serif;
}

body.section-show{
	overflow:hidden;
}

/*  02 =======================================================================
	Preloader
=======================================================================*/

/* Css definition for Animated gif ################*/
.wavy{
		-webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0,0,0,.2));
}

.wavy span{
	display:inline-block;
  font-size:2em;
  text-transform: uppercase;
  animation: animate 1s ease-in-out infinite;
  animation-delay: calc(.1s*var(--i));
}


@keyframes animate {
  0%{
    transform: translateY(0px);
  }
  20%{
    transform: translateY(-40px);
  }
  40%,100%{
    transform: translateY(0px);
  }
}
/*
@keyframes ldio-ng9uxnyxst {
  0% { opacity: 1 }
  50% { opacity: .5 }
  100% { opacity: 1 }
}
.ldio-ng9uxnyxst div {
  position: absolute;
  width: 15px;
  height: 60px;
  top: 45px;
  animation: ldio-ng9uxnyxst 1s cubic-bezier(0.5,0,0.5,1) infinite;
}.ldio-ng9uxnyxst div:nth-child(1) {
  transform: translate(22.5px,0);
  background: #e15b64;
  animation-delay: -0.6s;
}.ldio-ng9uxnyxst div:nth-child(2) {
  transform: translate(52.5px,0);
  background: #f47e60;
  animation-delay: -0.4s;
}.ldio-ng9uxnyxst div:nth-child(3) {
  transform: translate(82.5px,0);
  background: #f8b26a;
  animation-delay: -0.2s;
}.ldio-ng9uxnyxst div:nth-child(4) {
  transform: translate(112.5px,0);
  background: #abbd81;
  animation-delay: -1s;
}
.loadingio-spinner-bars-puqnw0f4q9 {
  width: 150px;
  height: 150px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-ng9uxnyxst {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
	/*
}
.ldio-ng9uxnyxst div { box-sizing: content-box; }
*/

#preloader{
position:fixed;
top:0;
left:0;
bottom:0;
right:0;
background-color:#FFF;
z-index:199;

}

#preloader .loader{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	-moz-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	-o-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
}

body.loaded #preloader{
	-webkit-transform:scale(.6);
	-moz-transform:scale(.6);
	-ms-transform:scale(.6);
	-o-transform:scale(.6);
	transform:scale(.4);
	opacity:0;
	visibility:hidden;
	z-index:-1;
	-webkit-transition:all 2s ease-in;
	-moz-transition:all 2s ease-in;
	transition:all 2s ease-in;

}


/********* Transition Effects********/
body.section-show .transition-mask {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: #fff;
	-webkit-animation: swing-out-left-fwd 1.5s linear both;
	        animation: swing-out-left-fwd 1.5s linear both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-10-23 20:59:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-out-left-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-out-left-fwd {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(-100deg);
            transform: rotateY(-100deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
}
@keyframes swing-out-left-fwd {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(-100deg);
            transform: rotateY(-100deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;

  }
}

/********* Main Wrapper*/
#wrapper{
	overflow-x:hidden;
}

/*03 ******** Front Section ***************
****************************************/

.front-section{
	background-color:#FFF;
	padding-top:60px;
	padding-bottom:200px;
	position:relative;
}

.hexagon.front-person-img{
	width: 500px;
	height:288px;
	position:relative;
	z-index:15;
	margin:200px auto 0 auto;

}

.hexagon.front-person-img svg{
	width:500px;
	height:500px;
	position:absolute;
	top:-106px;
}
.front-person-img > img{
	width:300px;
	height:300px;
	max-width:100%;
	position:absolute;
	left:19%;
	border-radius:50%;
}

.front-person-titles{
	position:relative;
	z-index:16;
	width:500px;
	height:288px;
	margin:auto;
	margin-top:-288px;
}

.front-person-titles > span{
	position:absolute;
	z-index:5;
	display:block;
	width:100%;
	letter-spacing: 17px;
	font-size:24px;
	color:#958a8a;
	text-align:center;
	line-height:1em;
	text-transform:lowercase;
}

.front-person-titles > .t1{
	transform:rotate(-8deg);
	left:-14px;
	top:-24px;
}


.front-person-titles > .t2{
	transform:rotate(-8deg);
	left:-14px;
	top:307px;
}


.front-person-titles > .t3{
	transform:rotate(-86deg);
	left:-201px;
	top:129px;
}


.front-person-titles > .t4{
	transform:rotate(86deg);
	left:201px;
	top:129px;
}


.front-person-links{
	position:relative;
	width:500px;
	height:288px;
	margin:auto;
	margin-top:-288px;
	z-index:20;
}

.front-person-links > ul > li{
	display:block;
}

.front-person-links > ul{
	z-index:99;
	position:absolute;
	left:100%;
	top:50%;
	text-align:left;
	margin:0;
	padding:0;
	list-style:none;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
	margin-left:-10px;
}

.front-person-links > ul > li > a{
	font-weight: bold;
	display:block;
	font-size:14px;
	padding:14px 0;
	cursor:pointer;
	position:relative;
	color:#999;
	text-align: left;
	text-transform: uppercase;
	letter-spacing:3px;
	text-decoration: none;
	line-height:1em;
}

.front-person-links > ul > li > a:hover{
	color:#B7A389;
}

.front-heading{
	text-align: center;
	margin-top:180px;
}

.front-heading > h2{
	font-size:55px;
	font-weight: lighter;
	letter-spacing: 15px;
	color:#999;
	font-family: 'Playfair Display', serif;
	font-style: italic;
}


/******** Transition Mask******************/
body.section-show .transition-mask{
	position:absolute;
	bottom:0;
	right:0;
	width:100%;
	height:100%;
	background: #fff;
	}


/*=======================================================================
	About Section
=======================================================================*/
.section{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	border:solid 4px #BBB;
	padding-top:100px;
	z-index:-9;
	background:#FFF;
	overflow-y:auto;
	opacity:0;
	visibility:hidden;
	transition: all .3s ease;
}

body.section-show .section.active{
	z-index:99;
	opacity:1;
	visibility:visible;
	-webkit-transition:all 2s  linear;
	-moz-transition:all 2s  linear;
	transition:all 2s  linear;

}


.about-section{
	padding-top:0;
}

.basic-info{
	padding-top:100px;
	padding-bottom:100px;
	position:relative;
	border-bottom:solid 1px #F0F0F0;
}

.basic-info .section-header{
	margin-bottom:80px;
}

.section-header h2{
	font-size:32px;
	letter-spacing:6px;
	color:#333;
	margin-top:0;
	margin-bottom:35px;
	font-weight:300;
}

.divider-draft{
	position:relative;
	height:2px;
	background:#333;
	width:40px;
	display:block;
}

.divider-draft:before,
.divider-draft:after{
	content: ' ';
	width:25px;
	height:1px;
	background:#333;
	position:absolute;
	left:0;
}

.divider-draft.center{
	margin:auto;
}

.divider-draft.center:before,
.divider-draft.center:after{
	right:0;
	margin:auto;
}

.divider-draft:before{
	top:-6px;
}
.divider-draft:after{
	bottom:-6px;
}

.about-person-img{
	text-align:center;
}
.about-person-img > img{
	max-width:100%;
	height:500px;
}

.about-info > p{
	line-height: 1.8em;
	margin-top:-.4em;
}

.info-list{
	list-style:none;
	padding:0;
	position:relative;
	z-index:10;
	margin-top:20px;
	margin-bottom:60px;
}
.info-list:before,
.info-list:after{
	content:' ';
	display:table;
}
.info-list:after{
	clear:both;
}

.info-list > li{
	margin-bottom:20px;
	float:left;
	width:25%;
}

.info-list > li > .inner{
	padding:15px 0;
}
.info-list > li > *{
	line-height:1em;
	margin:0;
}
.info-list > li > .inner > h4{
	font-size:13px;
	letter-spacing:4px;
	margin-right:16px;
	margin-bottom:8px;
	display:block;
	color:#333;
}
.info-list > li > .inner > p{
	font-size:16px;
	color:#777;
	display:block;
	overflow-wrap:break-word;
	padding:1px;
}

body .symp-btn{
	display:inline-block;
	padding:10px;
	background:#333;
	color:#FFF;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	border:none;
	text-decoration:none !important;
}

.symp-btn:hover{
	background:#B7A389;
	color:#FFF;
}
.symp-btn{
	background:#333;
	color:#FFF;
}
.symp-btn > i{
	margin-right:8px;
}

.about-icons{
	padding-top:110px;
	padding-bottom:0px;
}

.service{
	position:relative;
	margin-bottom:120px;
	text-align:center;
}

.service > .hexagon.icon{
	width:130px;
	height:100px;
	line-height: 100px;
	text-align: center;
	position: relative;
	margin:0 auto 0 auto;
	color:#fff;
}

.about-icons.section-block .hexagon.icon svg{
	width:130px;
	height:100px;
	position: absolute;
	top:0;
	left:0;
}

.about-icons.section-block .hexagon.icon svg path{
	fill:#B7A389;
}
.service > .hexagon.icon > i{
	display:inline-block;
	width:inherit;
	height:inherit;
	line-height: inherit;
	position:relative;
}

.service > .hexagon.icon > i:before{
	font-size:45px;
	vertical-align: middle;
}

.service > .content > h4{
	font-size:20px;
	margin-top:50px;
	margin-bottom:8px;
	letter-spacing:2px;
}
.service > .content > p{
	line-height:1.6em;
	color:#777;
}

.service:hover > .icon{
	top:-15px;
}

.funfacts-block{
	padding-top:60px;
	padding-bottom:20px;
	background-image:url('../img/whatever.jpg');
	background-size:cover;
	background-attachment:fixed;
}
.funfact{
	position:relative;
	text-align:center;
	margin-bottom:40px;
}

.funfact > .content > h4{
	margin:0;
	color:#FFF;
	font-size:55px;
	margin-bottom:5px;
}
.funfact > .content > p{
	color:#FFF;
	letter-spacing:2px;
	margin-bottom:0;
	font-size:13px;
	opacity:.8;
}

.testimonials-block{
	padding: 100px 0;
}

.testimonials-block .section-header{
	margin-bottom:45px;
}

.testimonial{
	text-align:center;
}

.testimonial > p{
	font-size:22px;
	line-height:1.6em;
	color:#777;
	font-family:crimson text, serif;
	font-weight:lighter;
	font-style:italic;
}
.testimonial > .author{
	margin-top:45px;
}
.testimonial > .author > h4{
	margin:0;
	text-transform:uppercase;
	letter-spacing:2px;
	font-size:14px;
}
.testimonial > .author > p{
	color:#777;
}

.testimonials-block .testimonials-outer-wrapper{
	position:relative;
	width:100%;
	overflow:hidden;
}

.testimonials-block .testimonials-inner-wrapper{
	width:100%;
	position: relative;
	left:0;
}


.testimonials-block .testimonials-item{
	width:100%;
	float:left;
}

.testimonials-block .control-main{
	text-align:center;
}

.testimonials-block .controls{
	display:inline-block;
	margin:30px 5px 0px 5px;
	position:relative;
	cursor:pointer;
}

.testimonials-block .controls .hexagon.pagination{
	width:30px;
	height:20px;
	margin:auto;
	border-radius:0;
	background:#fff;
}

.testimonials-block .controls .hexagon.pagination svg{
	width:inherit;
	height:inherit;
}


.testimonials-block .controls .hexagon.pagination svg path{
	fill:#ccc;
}

.testimonials-block .controls .hexagon.pagination.active svg path{
	fill:#B7A389;
}
/************* Footer ****************/
.footer{
	padding:30px 0;
	background:#FFF;
	border-top:solid 1px #F0F0F0;
}
.footer h4{
	font-size:18px;
	letter-spacing:4px;
	margin:0;
	margin-top:3.5px;
	font-style:italic;
	font-family:'Playfair Display', serif;
	color:#999;
}
.footer-social{
	margin:0;
	padding:0;
	list-style:none;
	font-size:0;
}
.footer-social > li{
	position:relative;
	display:inline-block;
	margin-left:20px;
}

.footer-social > li  a{
	text-decoration:none;
	height:26px;
	width:26px;
	line-height:26px;
	vertical-align:middle;
	display:block;
	text-align:center;
	color:#BBB;
	font-size:0;
}

.footer-social  li  a svg{
	width:inherit;
	height:inherit;
	position: absolute;
}
.footer-social > li  a  i{
	position: absolute;
	display:inline-block;
	line-height:inherit;
	width:inherit;
	height:inherit;
	vertical-align:middle;
}

.footer-social > li  a  i:before{
	font-size:14px;
	line-height:1em;
	vertical-align:middle;
}
.footer-social > li a:hover{
	background:#B7A389;
	color:#FFF;
}

/* Close Button **/
.close-btn{
	position:fixed;
	height:64px;
	width:64px;
	cursor:pointer;
	display:block;
	top:18px;
	right:18px;
	opacity:0;
	z-index:-99;
}
body a.close-btn,
body.section-show .close-btn{
	opacity:1;
	z-index:100;
	-webkit-transition:opacity .4s 1.2s ease, background .3s ease;
	-moz-transition:opacity .4s 1.2s ease, background .3s ease;
	transition:opacity .4s 1.2s ease, background .3s ease;

	overflow:hidden;
}

.close-btn > span{
	height:3px;
	width:40px;
	background:#BBB;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-20px;
	margin-top:-1.5px;
}

.close-btn > span:before{
	content: ' ';
	position:absolute;
	top:0;
	width:0;
	height:inherit;
	background:#B7A389;
}
.close-btn > span:nth-of-type(1){
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
.close-btn > span:nth-of-type(2){
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.close-btn > span:nth-of-type(1):before{
	left:0;
}
.close-btn > span:nth-of-type(2):before{
	right:0;
}
.close-btn > span:nth-of-type(1):before{
	left:0;
}
.close-btn > span:nth-of-type(2):before{
	right:0;
}
.close-btn:hover > span{
	background:transparent;
}
.close-btn:hover > span:before{
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	width:100%;
}
.close-btn:hover > span:nth-of-type(2):before{
	-webkit-transition-delay:.3s;
	-moz-transition-delay:.3s;
	transition-delay:.3s;
}

/************** Responsive CSS code *******************/
@media (max-width:992px){
	.front-section{
		padding-bottom:110px;
	}

	.hexagon.front-person-img{
		width:360px;
		height:210px;
		margin-top:120px;
	}

	.hexagon.front-person-img svg{
		width:360px;
		height:360px;
		top:-73px;
	}
	.hexagon.front-person-img > img{
		width:200px;
		height:200px;
		left:21%;
	}

	.front-person-titles{
		margin-top:125px;
		width:80%;
		height:auto;
	}

	.front-person-titles > .t1, .front-person-titles > .t2, .front-person-titles > .t3, .front-person-titles > .t4{
		position:relative;
		margin:25px 0;
		transform:none;
		letter-spacing:10px;
		font-size:16px;
		text-transform:uppercase;
		top:auto;
		left:auto;
		bottom:auto;
		color:#CCC;
	}

	.front-person-links{
		margin-top:110px;
		margin-bottom:0;
		width:80%;
		height:auto;
		text-align:center;
	}

	.front-person-links > ul{
		top:0;
		left:auto;
		position:relative;
		display:inline-block;
		transform:none;
		margin:0;
	}

	.front-person-links > ul > li{
		margin-bottom:1px;
		display:block;
	}

	.front-person-links > ul > li > a{
		text-align:center;
		display:block;
		padding:22px 48px;
		font-size:22px;
		letter-spacing:2px;
		text-transform: none;

	}

	.front-heading{
		margin-top:50px;
	}
	.about-person-img{
		margin-bottom:40px;
		text-align:center;
	}
	.info-list > li{
		width:50%;
	}
}


@media (max-width:768px){
	.front-person-links{
		margin-top:65px;
	}
}
